body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
}

main {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    backdrop-color: #fff2 ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
  color: #336;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
